/* start reset */
/* start reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
header,
footer,
canvas,
section,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* end reset */

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.content-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enable-draw-area,
.pagination-area {
  width: 100%;
  background-color: #1c2c45;
  min-height: 40px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  z-index: 99;
}

.button-default {
  background-color: #4d72ae;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.button-default:hover {
  background-color: #456598;
}

.button-default:disabled {
  opacity: .50;
  background-color: #4d72ae !important;
}

.enable-draw__button {
  font-size: 1rem;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.enable-draw__button.active {
  background-color: #d25858;
}

.enable-draw__button.active:hover {
  background-color: #c35252;
}

.effects-controllers-area {
  width: 100%;
  background-color: #c8c8c8;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  transition: 200ms ease-in-out;
  height: 0;
}

.effects-controllers-area.active {
  height: 50px;
}

.effects-controllers__label {
  color: #4a4a4a;
  font-size: small;
}

.effects-controllers__effect-button {
  background-color: #4a4a4a;
}

.effects-controllers__effect-button.active {
  background-color: #4d72ae;
}

.effects-controllers__divisor {
  width: 1px;
  height: 50%;
  background-color: #9d9d9d;
}

.effects-controllers__clear-button {
  background-color: #4a4a4a;
}

.effects-controllers__clear-button:hover {
  background-color: #c35252;
}


.image-area {
  flex: 1;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 40px 24px 60px 24px;
  overflow: auto;
  margin-bottom: 40px;
}

.image-area__image-wrapper {
  width: fit-content;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  position: relative;
}

.image-area__image {
  width: 100%;
  height: 100%;
  max-width: 532px;
  max-height: 709px;
  object-fit: contain;
  display: block;
}

.image-area__canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.pagination__input-area {
  background-color: #fff;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.pagination__input-area input {
  border: none;
  max-width: 40px;
  padding: 3px;
  text-align: right;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pagination__input-area span {
  font-size: .9rem;
  display: block;
  width: 60px;
  transform: translateY(-1px);
}

.loading {
  display: none;
  border: 5px solid #eaeaea;
  border-top: 5px solid #0147BA;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 700ms linear infinite;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading.visible {
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}